<!DOCTYPE html> 
<html lang="en"  ng-app="eater">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Chef's Cook</title>

   
   <!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- code for datepicker in eatSide -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://mbostock.github.com/d3/d3.js"></script>
    <!-- code for single date picker on eatSide -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Brain-IT<br>We show you how to think!</a><br>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/#about">About</a>
                    </li>
                 <!--    <li>
                        <a href="#/#services">Services</a>
                    </li> -->
                    <li>
                        <a href="#/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
   <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>BrainIT</h1>
                        <!-- <h2>We bring the restaurants to you!</h2> -->
                        <hr class="intro-divider">
                        <h3>An application to analyze and present consious & sub-consious user feedback using bio-sensor technology</h3>
                        <hr class="intro-divider">
                       <!--  <ul class="list-inline intro-social-buttons"> -->
<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" src="modals/myModalContent.html"></script>
    <script type="text/ng-template" src="modals/myModalContentC.html"></script>
</div>
<div ng-controller="ModalDemoCtrl">
         <script type="text/ng-template" id="myModalContent2.html">
         <div class="modal-header">
            <h3 class="modal-title">MyQL</h3>
        </div>
          <div class="modal-body">
 <iframe width="580" height="400"
src="https://www.myql.com/">
</iframe>
</div>
<div class="modal-footer">
  <button ng-click="existingE()" type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </script>


        
                         <!--    <li> -->
                                <!-- <a href="#" class="btn btn-default btn-lg" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover"><i></i> <span>COOK</span></a> -->
<!-- 
                                <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-default btn-lg" uib-dropdown-toggle></button>
      <button type="button" class="btn btn-default btn-lg" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-click="openC()">New Chef?</a></li>
        <li role="menuitem"><a ng-click="closeC()">Existing Chef?</a></li>
      </ul>
    </div> -->
                            <!-- </li>
                            <li> -->
                                  <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-default btn-lg" uib-dropdown-toggle>Analysis?</button>
      <!-- <button type="button" class="btn btn-default btn-lg" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button> -->
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-click="openE()">Rocket Mortgage Ad</a></li>
        <li role="menuitem"><a ng-click="closeE()">MyQL</a></li>
      </ul>
    </div>
                                <!-- <button type="button" class="btn btn-default btn-lg" ng-click="open()">EAT!</button> -->
                           <!--  </li> -->
                         <!--    <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        <!-- </ul> -->
                    </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.intro-header -->
<a name ="eatServices"></a>
<div id= "eatSide"  ng-controller= "mainCTRL" class="ng-hide">
    <div id="centerfold" class="col-xs-12 col-md-12">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <uib-tabset justified="true">
                <uib-tab class="makeGray" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="$parent.go(tab.goHere)" active="tab.active" disable="tab.disabled">
                    <div id="partialView" ng-view></div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<!-- <a name ="cookServices"></a>
<div id= "cookSide"  ng-controller= "mainCookCTRL" class="ng-hide">
    <div id="centerfold" class="col-xs-12 col-md-12">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <uib-tabset justified="true">
                <uib-tab class="makeGray" ng-repeat="tabc in tabcs" heading="{{tabc.title}}" ng-click="$parent.go(tabc.goHere)" active="tabc.active" disable="tabc.disabled">
                    <div id="partialView" ng-view></div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-1"></div>
    </div>
</div> -->
    <!-- Page Content -->




	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Let's Connect:</h2>
                </div>
                <div class="col-lg-12">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#/#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                                <a href="#/#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Chef's Spot 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Cinzel:700' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="geo.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
 <script src="example.js"></script>

     <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="gauge.js"></script>
        <script type="text/javascript" src="line.js"></script>
        <script type="text/javascript" src="mindwaveSentDataModel.js"></script>
</body>

</html>
