<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="example.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Cinzel:700' rel='stylesheet' type='text/css'>
  </head>
  <body id="userBody">

<div ng-controller="TooltipDemoCtrl">
    <div class="col-md-4"></div>
    <form id="userForm" class="col-xs-12 col-md-4" role="form">
      <h1 class="centeredText">User Profile</h1>
      <div class="form-group">
        <label>First Name: </label>
        <input type="text" uib-tooltip="People call you this" tooltip-trigger="focus" class="form-control" />
      </div>
      <div class="form-group">
        <label>Last Name: </label>
        <input type="text" uib-tooltip="And sometimes add this" tooltip-trigger="focus" class="form-control" />
      </div>
      <div class="form-group">
        <label>Email: </label>
        <input type="text" uib-tooltip="You get electronic communications via this method" tooltip-trigger="focus" class="form-control" />
      </div>
      <div class="form-group">
        <label>Street Address: </label>
        <input type="text" uib-tooltip="This number and name determine where on what line you reside" tooltip-trigger="focus" class="form-control" />
      </div>
      <div class="form-group">
        <label>City: </label>
        <input type="text" uib-tooltip="In this region" tooltip-trigger="focus" class="form-control" />
      </div>
      <div class="form-group">
        <label>Zip Code: </label>
        <input type="text" uib-tooltip="More specifically this region" tooltip-trigger="focus" class="form-control" />
      </div>
      <br><h3 class="centeredText">Preferences</h3><br>
      <div class="form-group centeredText">
        <label>Cuisine: </label><br>
        <div ng-repeat="cuisine in cuisines" class="btn-group">
          <label class="btn btn-primary makeBlue" ng-model="cuisine.chosen" uib-btn-checkbox>{{cuisine.name}}</label> 
        </div>
      </div>
      <pre>Model: {{cuisines}}</pre>
      <pre>Results: {{checkResults}}</pre>
      <div class="col-md-4"></div>
<!--       <div class="form-group">
        <label>Heat: </label><br>
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Mild'">Mild</label>
          <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Medium'">Medium</label>
          <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Hot'">Hot</label>
        </div>
      </div> -->
    </form>
  </div>
  </body>
</html>
