
<div class="modal-body">
  <form id="userForm" role="form">
    <div class = "row">
      <div class = "col-md-4 rightText">Meal Name: </div>
      <div class = "col-md-8 leftText">
        <input type="text" ng-model="eatFirstName" uib-tooltip="People call you this" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4 rightText">Max Servings: </div>
      <div class = "col-md-8 leftText">
        <input type="text" ng-model="eatLastName" uib-tooltip="And sometimes add this" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4 rightText">Cost per Serving: </div>
      <div class = "col-md-8 leftText">
        <input type="text" ng-model="eatEmail" uib-tooltip="You get electronic communications via this method" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4 rightText">Picture:  </div>
      <div class = "col-md-8 leftText">
        <input type="text" ng-model="eatStreetAddress" uib-tooltip="This number and name determine where on what line you reside" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4 rightText">Ingreidents:  </div>
      <div class = "col-md-8 leftText">
        <input type="text" ng-model="eatCity" uib-tooltip="In this region" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4 rightText">Cusine Type:  </div>
      <div class = "col-md-8 leftText">
        <input type="text" ng-model="eatState" uib-tooltip="One of 50 or so" tooltip-trigger="focus"/>
      </div>
    </div>
  <a href="www.essquare.co">Add more(+)</a>
  </div>
  
