<div  onload="initialize()" ng-controller="eatCooksCTRL">
		<span id="attentionGaugeContainer"></span>
	<!-- 	<span id="meditationGaugeContainer"></span>
		<span id="familiarityGaugeContainer"></span>
		<span id="testGaugeContainer"></span> -->
		<button onclick="getData()">Get Results</button>
 <!--    <h4> Available Chefs:<h4>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div> -->
</div>