<br>
<form id="userForm" role="form">
      <div class = "row">
      <div class = "col-md-2 leftText">First Name: </div>
      <div class = "col-md-10 leftText">
        <input type="text" ng-model="eatFirstName" uib-tooltip="People call you this" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-2 leftText">Last Name: </div>
      <div class = "col-md-10 leftText">
        <input type="text" ng-model="eatLastName" uib-tooltip="And sometimes add this" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-2 leftText">Email: </div>
      <div class = "col-md-10 leftText">
        <input type="text" ng-model="eatEmail" uib-tooltip="You get electronic communications via this method" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-2 leftText">Street Address: </div>
      <div class = "col-md-10 leftText">
        <input type="text" ng-model="eatStreetAddress" uib-tooltip="This number and name determine where on what line you reside" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-2 leftText">City: </div>
      <div class = "col-md-10 leftText">
        <input type="text" ng-model="eatCity" uib-tooltip="In this region" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-2 leftText">State: </div>
      <div class = "col-md-10 leftText">
        <input type="text" ng-model="eatState" uib-tooltip="One of 50 or so" tooltip-trigger="focus"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-2 leftText">Zip Code: </div>
      <div class = "col-md-10 leftText">
        <input type="text" ng-model="eatZipCode" uib-tooltip="More specifically this region" tooltip-trigger="focus"/>
      </div>
    </div>
      <br><h3 class="centeredText">Preferences</h3><br>
      <div class="form-group centeredText">
        <label>Cuisine: </label><br>
        <div ng-repeat="cuisine in cuisines" class="btn-group">
          <label class="btn btn-primary makeBlue" ng-model="cuisine.chosen" uib-btn-checkbox>{{cuisine.name}}</label> 
        </div>
      </div>
</form>

